body{
    font-family: sans-serif;
    background: #fcf4fb;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.content{
    background-color: #fff;
    border-radius: 40px;
    position: relative;
    overflow: hidden;
    width: 50vw;
    min-height: 400px;
    max-width: 100%;
}

.right-box{
    padding: 40px 30px 40px 40px;
}